<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET.Core" version="7.0.0" targetFramework="net461" />
  <package id="Magick.NET.SystemDrawing" version="2.0.16" targetFramework="net461" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.24.0" targetFramework="net461" />
</packages>